<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      #productsTB {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      #productsTB td,
      #productsTB th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      #productsTB tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      #productsTB tr:hover {
        background-color: #ddd;
      }

      #productsTB th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04aa6d;
        color: white;
      }
    </style>

    <title>Document</title>
  </head>
  <body>
    <h1>Products List</h1>
    <!-- <%products.map((product)=>{%> 
        <li> id = <%=product.id%> name = <%=product.name%> category = <%=product.category%> price = <%=product.price%> </li> 
    <%})%>  -->
    <table id="productsTB">
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Category</td>
        <td>Price</td>
      </tr>
      <% for(var i=0; i < products.length; i++) { %>
      <tr>
        <td><%= products[i].id %></td>
        <td><%= products[i].name %></td>
        <td><%= products[i].category %></td>
        <td><%= products[i].price %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
