<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- เรียก library jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Document</title>
  </head>
  <body>
  

    <form action="http://localhost:3000/products" method="POST">
        <label for="id">Id :</label>
        <input type="text" name="id" id="id" value="<%=product.id%>" /><br /><br />
        <label for="name">Name :</label>
        <input
          type="text"
          name="name"
          id="name"
          value="<%=product.name%>"
        /><br /><br />
        <label for="category">Category :</label>
        <input
          type="text"
          name="category"
          id="category"
          value="<%=product.category%>"
        /><br /><br />
        <label for="price">Price :</label>
        <input
          type="number"
          name="price"
          id="price"
          value="<%=product.price%>"
        /><br /><br />
        <label for="stock">Stock :</label>
        <input
          type="number"
          name="stock"
          id="stock"
          value="<%=product.stock%>"
        /><br /><br />
       <button type="submit">Send to backend</button>
      </form>

    <script>
      function test() {
        var get_url = "/products";
        var resp;
        var result = $.ajax({
          url: get_url,
          type: "GET",
          dataType: "text",
          data: {}, //data: {sector},
          async: false,
          success: function (data) {
            resp = data;
          },
        });

        // result.then(function (res) {

        // });
      }
    </script>
  </body>
</html>
